.block__text{
    width: 100%; 
    background-color: #F5F5F8;
    margin-top: 50px;
}
.block__text__960{
    width: 960px;
    margin: auto;
}
.block__text__960__590{
    width: 590px;
    margin: auto;
    text-align: center;
    color: var(--brand_text);
    padding-top: 60px;
    padding-bottom: 60px;
}
.block__text__960__590 h2{
    font-size: 1.2rem;
}
.block__text__960__590 p{
    font-size: .8rem;
    line-height: 1.3rem;
}