* {
    box-sizing: border-box;
}

:root {
    --brand_primary           : #2b3636;
    --brand_secondary         : #09A59A;
    --brand_heading           : #EFEFF5;
    --brand_text              : #2b3636;
    --brand_navbar_text       : #fff;
    --brand_navbar_fixed_text : #fff;
    --brand_homepage_heading  : #fff;
    --brand_course_heading    : #fff;
    --brand_video_player_color: #09A59A;
    --font_family             : Proxima;
    --max-width               : 960px;
}

html {
    font-size: 20px;
}

body {
    margin     : 0;
    font-family: var(--font_family);
    font-size  : 20px;
}

header {
    width           : 100%;
    background-color: var(--brand_text);
    position        : fixed;
    top             : 0;
    z-index: 1;
}

.navbar {
    max-width: var(--max-width);
    margin   : auto;

}

.navbar__header {
    display        : flex;
    flex-flow      : row;
    justify-content: space-between;
    align-items: center;
    height         : 60px;
}
.navbar__header__logolink{
    height         : 60px;
}

.navbar__menu {}

.hamburger {
    display: none;
}

.navbar__menu__list {
    display  : flex;
    flex-flow: row;
    align-items: center;
    margin: 0;
}

.navbar__menu__list li {
    list-style   : none;
    position     : relative;
    padding-left : 5px;
    padding-right: 5px;
}

.navbar__menu__list li a {
    color          : white;
    text-decoration: none;
    font-size      : .7rem;
}

/*gravatar*/
.menu-trigger {
    width           : 46px;
    /* height       :30px; */
    background-color: rgba(0, 0, 0, 0);
    border          : none;
    display: grid;
    place-items: center;
}

.gravatar {
    width        : 30px;
    height       : 30px;
    border-radius: 50%;
}

.navbar__current-user {
    display: none;
}



ul.inner-menu {
    background-color: #fff;
    padding         : 0;
    border-radius   : 5px;
    position        : absolute;
    right           : 0px;
    width           : 200px;
    border          : 1px solid black;
    /* display         : none; */
}

.inner-menu li {
    height : 36;
    padding: 8px;
}

.inner-menu li a,
.inner-menu li a:hover {
    color      : var(--brand_text);
    font-size  : .6em;
    display    : block;
    line-height: 20px;
}

.inner-menu li a:hover {
    text-decoration-color: var(--brand_text);
    text-decoration      : underline;
}